body {
  background-color: white;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  font-family: nimbus-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  font-color: black;
}

nav {
  overflow: hidden;
  position: sticky;
  background-color: white;
  padding-bottom: 4px;
  border-style: none none solid none;
  border-color: black;
  border-width: 1px;
  z-index:950;
  top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
  overflow: hidden;
}

li {
  display:block;
  float: center;
  text-align:center;
  font-family: freighttextcmp-pro, serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}

li a {
  text-decoration:none;
  font-size:20px;
}

li a:hover{
  font-family: freighttextcmp-pro, serif;
  font-weight: 300;
  font-style: italic;
  text-decoration:none;
}

h1 {
  color: black;
  font-size: 25px;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin:0;
  padding:0;
}

.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  background-color: black;
  border-style: none none solid none;
  border-width:1px;
  border-color:black;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll 20s linear infinite;
  flex: 0 0 auto;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  margin: -5px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* .intro {
  display: block;
  border: 1px;
  width: 30%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.title {
  display: block;
  margin:60px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width:75%;
} */

.center {
  display: block;
  margin: auto;
  width: 30%;
}

/* .portrait-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin-top: 30px;
  margin-bottom: 30px;

}

.landscape-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 30px;
} */

/* p {
  color: black;
  line-height: 125%;
  font-size: 80%;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
} */

.column {
  display: block;
  text-align: center;
  color: white;
  float: left;
  width: 100%;
}

img {
  display: block;
  margin: auto;
  width: 100%;
  vertical-align: middle;
  border-style: solid:
  border-width: 1px;
  border-color: black;
}

.textcolumncenter {
  display: block;
  text-align: left;
  color: white;
  float: left;
  width: 75%;
  padding-left:10px;
  padding-bottom:10px;
}

.textcolumnside {
  display: block;
  text-align: left;
  color: white;
  float: left;
  width: 12%;
  padding-bottom:10px;
}

.textcolumncenter p {
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 80%;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.textcolumnside p {
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 80%;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.column p {
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 80%;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.shift {
  color:rgb(7, 198, 138);
/*   margin-left:10%;
  margin-right:10%; */
  padding-bottom:8%;
  margin-bottom:5%;
  border: 1.5px dashed white;

}

.row:after {
  content: "";
  display: table;
  clear: both;

}

a:link {
  color: black;
    text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: black;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

.footer p {
  text-align: right;
  padding-top: 18px;
  padding-right: 8px;
}

.float {
    position: fixed;
    width:100%;
    height:110px;
    bottom:0;
    left:0;
    text-align:left;
}

* {box-sizing:border-box}
.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6, .mySlides7, .mySlides8, .mySlides9, .mySlides10, .mySlides11, .mySlides12, .mySlides13, .mySlides14, .mySlides15, .mySlides16, .mySlides17, .mySlides18 {display: none}

/* Slideshow container */
.slideshow-container {
  display:block;
  width:75%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  background-image: url(https://user-images.githubusercontent.com/98932808/211733398-c99aee9c-c895-4137-b190-a518a4e21891.png);
  top: 50%;
  width: auto;
  margin-top: -22px;
      margin-left:-50px;
  margin-right:-50px;
  padding: 16px;
  color: #ffbfee;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 2px 4px 4px rgba(0,0,0,0.6);
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* @media only screen and (max-width: 750px) {

    h2 {
    font-size: 14px;
  }
    p {
    font-size: 11px;
  }
    
    .navbar a {
        font-size:14px;
    }

} */

@media only screen and (max-width: 500px) {
  
  a:link {
    text-decoration: underline;
  }
  
  h1 {
    margin-top: 50px;
  }
    
    p {
        font-size:60%;
    }

  .intro {
    margin-bottom: 20px;
  }

  .column {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
    
  .textcolumncenter {
      width:65%;
    }
    
    .textcolumnside {
        width:15%;
    }
    

  .column img {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;

  }
    
  .textcolumncenter p {
      font-size:60%;
    }
    
    .textcolumnside p {
      font-size:60%;
    }
  
  .portrait-center {
    width:75%;
  }
  
  .landscape-center{
    width:75%;
  }
  
}
