body {
  background-color: #faf7ed;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  font-family: nimbus-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  font-color: black;
  margin:0;
  padding:0;
}

nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #faf7ed;
  padding-bottom: 4px;
  border-style: none none solid none;
  border-color: black;
  border-width: 0.5px;
  z-index:950;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
  overflow: hidden;
}

li {
  display:block;
  float: center;
  text-align:center;
  font-family: freighttextcmp-pro, serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}

li a {
  text-decoration:none;
  font-size:20px;
}

li a:hover{
  font-family: freighttextcmp-pro, serif;
  font-weight: 300;
  font-style: italic;
  text-decoration:none;
}

h1 {
  color: black;
  font-size: 25px;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin:0;
  padding:0;
}

h2 {
  font-size: 20px;
  font-family: freighttextcmp-pro, serif;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

h3 {
  font-size: 10px;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  margin-top:42px;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  background-color: whjte;
  border-style: none none solid none;
  border-width:0.5px;
  border-color:black;
}

.marquee ul{
  margin:0;
  padding:0;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll 30s linear infinite;
  flex: 0 0 auto;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  text-align: center;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.thumbnail {
  position: relative;
  float: left;
  display: block;
  width: 50%;
  font-size: 0;
}

.left {
  border-style: solid;
  border-width: 0 0.5px 0.5px 0;
}

.right {
  border-style: solid;
  border-width: 0 0.5px 0.5px 0;
  border-right-color: white;
}

.thumbnail p {
  text-align: center;
  font-family: freighttextcmp-pro, serif;
  font-weight: 300;
  font-style: italic;
  font-size: 50px;
  line-height: 42px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.thumbnail img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.thumbnail:hover img {
  opacity: 0.3;
  transition: 0.5s ease;
}

.thumbnail:hover p {
  opacity: 1;
}

.center {
  display: block;
  margin: auto;
  width: 30%;
}

.proj_intro {
  display: block;
  width: 40%;
  padding-top:64px;
}

.proj_column {
  position: relative;
  float: left;
  display: block;
  width: 50%;
}

.proj_column img {
  margin: auto;
  width: 50%;
}

.proj_row {
  display:block;
  width:85%;
  margin:auto;
  padding: 1%;
}

.proj_row img {
  margin: auto;
  width: 100%;
}

.proj_row:after {
  content: "";
  display: table;
  clear: both;
}

.hero {
  display: block;
  margin:auto;
  width: 100%;
}

.content {
  display: block;
  margin:auto;
  width: 95%;
}

 .portrait-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin-top: 30px;
  margin-bottom: 30px;

}

.landscape-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 30px;
} 

a:link {
  color: black;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: none;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

.footer p {
  text-align: right;
  padding-top: 18px;
  padding-right: 8px;
}

.float {
    position: fixed;
    width:100%;
    height:110px;
    bottom:0;
    left:0;
    text-align:left;
}

@media only screen and (max-width: 500px) {
    
    p {
        font-size: 90%;
    }

  .proj_intro {
    width:100%;
  }

  .thumbnail {
    width:100%;
    border-style: solid;
    border-width: 0 0 0.5px 0;
  }

  .left {
    border-style: none;
  }

  .right {
    border-style: none;
  }
  
  .portrait-center {
    width:75%;
  }
  
  .landscape-center{
    width:75%;
  }
  
}
